<%= page_title(t('.title'))%>
<div class="my-5">
  <%= button_link 'Adicionar Filme', new_movie_path %>
</div>
<table id="movie-theaters-table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <th scope="col" class="px-3 py-3">Título</th>
    <th scope="col" class="px-6 py-3">Ano</th>
    <th scope="col" class="px-6 py-3">Direção</th>
  </thead>
  <tbody>
    <% @movies.each do |m| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%=  m.title %>
        </td>
        <td class="px-6 py-4">
          <%= m.year %>
        </td>
        <td class="px-6 py-4">
          <%= m.director %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
