<%= page_title(t('.title')) %>
<%= form_with(model: @movie) do |f| %>
  <div class="mb-6">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-field' %>
  </div>
  <div class="mb-6">
    <%= f.label :year, class: 'form-label' %>
    <%= f.text_field :year, class: 'form-field' %>
  </div>
  <div class="mb-6">
    <%= f.label :director, class: 'form-label' %>
    <%= f.text_field :director, class: 'form-field' %>
  </div>
  <div class="mb-6">
    <%= f.label :plot, class: 'form-label' %>
    <%= f.text_field :plot, class: 'form-field' %>
  </div>
  <%= f.submit 'Criar Filme', class: 'btn-confirm' %>
<% end %>
